{% extends 'base.html' %}
{% block addlink %}
    <a href="/{{character.name}}">Character Page</a>
    <a href="/{{character.name}}/monster_list">Monsters</a>
{% endblock %}
{% block content %}
    <div style="display: none" id="jsonData" data-json="{{data}}"></div>

    <h1 id="player">{{character.name}}</h1>
    <h3>Level {{character.level}}</h3>
    <button id="attack">Attack</button>
    <p>Health: <progress id="playerHealth" value="{{character.health}}" max="{{character.health}}"></progress></p>
    <p>Mana: <progress id="playerMana" value="{{character.mana}}" max="{{character.mana}}"></progress></p>
    <p>Experience: <progress value="{{character.exp}}" max="{{character.expReq}}"></progress></p>

    <div id="combatLog">
        <p>Log:</p>
    </div>

    <h1 id="monster">{{monster.name}}</h1>
    <h3>Level {{monster.level}}</h3>
    <p>Health: <progress id="monsterHealth" value="{{monster.health}}" max="{{monster.health}}"></progress></p>
    <p>Mana: <progress id="monsterMana" value="{{monster.mana}}" max="{{monster.mana}}"></progress></p>
    
    <div style="display: none" id="defeat">
        <a href="/{{character.name}}/monster_list">Return</a>
    </div>

    <div style="display: none" id="victory">
        <form method="post">
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}