{% extends 'base.html' %}
{% block addlink %}
    <a href="/{{character.name}}">Character Page</a>
    <a href="/{{character.name}}/monster_list">Monsters</a>
{% endblock %}
{% block content %}
    <div style="display: none" id="jsonData" data-json="{{data}}"></div>

    <h1 id="player">{{character.name}}</h1>
    <h3>Level {{character.level}}</h3>
    <button id="attack">Attack</button>
    <p>Health: <progress id="playerHealth" value="50" max="100"></progress></p>
    <p>Mana: <progress id="playerMana" value="50" max="100"></progress></p>
    <p>Experience: <progress id="exp" value="50" max="100"></progress></p>

    <div id="combatLog">
        <p>Log:</p>
    </div>

    <h1 id="monster">{{monster.name}}</h1>
    <h3>Level {{monster.level}}</h3>
    <p>Health: <progress id="monsterHealth" value="{{monster.health}}" max="{{monster.health}}"></progress></p>
    <p>Mana: <progress id="monsterMana" value="{{monster.mana}}" max="{{monster.mana}}"></progress></p>
    <a href="">Confirm</a>
{% endblock %}