{% extends 'base.html' %} 
{% block addlink %}
    <a href="/{{character.name}}">Character Page</a>
    <a href="/{{character.name}}/monster_list">Monsters</a>
{% endblock %}
{% block content %}
    <div style="display: none" id="jsonData" data-json="{{data}}"></div>
    <h1>{{character.name}}</h1>
    <h3>Level {{character.level}} {{character.charClass}}</h3>
    <p>Experience: <progress value="{{character.exp}}" max="{{character.expReq}}"></progress></p>
    <h3>Health: {{character.health}}</h3>
    <h3>Mana: {{character.mana}}</h3>
    <h3>Attack: {{character.attack}}</h3>
    <a href="/{{character.name}}/inventory">Inventory</a>
{% endblock %}