{% extends 'base.html' %} 
{% block addlink %}
    <a href="/{{character.name}}">Character Page</a>
    <a href="/{{character.name}}/monster_list">Monsters</a>
{% endblock %}
{% block content %}
    <h1>{{character.name}}</h1>
    <h3>Level {{character.level}} {{character.charClass}}</h3>
    <p>Experience({{character.exp}}/{{character.expReq}}):</p>
    <progress id="expInfo" class="nes-progress is-warning" value="{{character.exp}}" max="{{character.expReq}}"></progress>
    <h3>Health: {{character.health}}</h3>
    <h3>Mana: {{character.mana}}</h3>
    <h3>Attack: {{character.attack}}</h3>
    <a class="nes-btn is-primary" href="/{{character.name}}/inventory">Inventory</a>
    <a id="delete" class="nes-btn is-error" href="/{{character.name}}/delete">Delete</a>
{% endblock %}