{% extends 'base.html' %} 
{% block addlink %}
    <a href="/{{character.name}}">Character Page</a>
    <a href="/{{character.name}}/monster_list">Monsters</a>
{% endblock %}
{% block content %}
    <h1>Equipment:</h1>
    <form action="post">
        {% csrf_token %}
        <button name="unequip">Unequip</button>
    </form>

    <h1>Inventory:</h1>
    {% for each in character.inventory_set.all %}
        <p>{{each.item.name}}</p>
        <p>{{each.qty}}</p>
        {% if each.item.equipable %}
            <form method="post">
                {% csrf_token %}
                <button name="equip" value="{{each}}">Equip</button>
            </form>
        {% endif %}
    {% endfor %}
{% endblock %}